@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
}

.gradient {
    background: linear-gradient(120deg, #7f70f5, #0ea0ff);
    color: white;
}

.portfolio-navbar {
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1)
}

.navbar {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.border-0 {
    border: 0 !important;
}

.btn-rounded {
    border-radius: 2em;
}

.portfolio-navbar.fixed-top + .page {
    padding-top: 5.5rem;
}

.portfolio-block {
    padding-bottom: 60px;
    padding-top: 60px;
}

.portfolio-block.block-intro {
    text-align: center;
}

.portfolio-block.block-intro .avatar {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 100px;
    margin-bottom: 30px;
}

.portfolio-block.block-intro .about-company {
    max-width: 800px;
    margin: 0 auto;
}

.portfolio-block.activities .heading{
    margin-bottom: 80px;
    margin-top: 80px;
    text-align: center;
}

.portfolio-block.activities {
    border-bottom: 1px solid #ddd;
}


.portfolio-block.website .text {
    text-align: center;
}

.activity-item {
    margin-bottom: 30px;
    text-align: center;
}

.portfolio-image {
    margin: auto;
    margin-top: 30px;
    max-width: 280px;
}

.portfolio-image .portolio-image-item {
    width: 320px;
    height: 210px;
}

.portfolio-image .portolio-image-item {
    width: 320px;
    height: 210px;
}

.contact-us .info {
    padding-bottom: 10px;
    padding-top: 0;
}

.info {
    max-width: 360px;
    margin: 0 auto;
    padding: 70px 0 30px;
}

.info-horizontal .description {
    overflow: hidden;
}

.info-horizontal .icon {
    float: left;
    margin-top: 24px;
    margin-right: 10px;
}

.info .info-title {
    color: #3c4858;
    margin: 1.75rem 0 .875rem;
}

input[type=text]:focus, input[type=email]:focus {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid deepskyblue;
}


input[type=text], input[type=email] {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #CFD8DC;
}

@media (min-width:768px) {
    .portfolio-block {
        padding-bottom: 100px;
        padding-top: 100px;
    }
    
    .portfolio-image {
        margin-top: 350px;
    }

    .portfolio-image .portolio-image-item {
        width: 320px;
        height: 210px;
    }
    
}

@media (min-width:992px) {
    .portfolio-image {
        margin-top: 0;
    }

    .portfolio-block.website .text {
        text-align: right;
    }
}