@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* @import url('https://fonts.googleapis.com/css?family=Merriweather'); */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, .card-title {
    /* font-family: 'Merriweather', serif; */
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

.gradient {
    background: linear-gradient(120deg, #7f70f5, #0ea0ff);
    color: white;
}

.portfolio-navbar {
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1)
}

.navbar {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.border-0 {
    border: 0 !important;
}

.btn-rounded {
    border-radius: 2em;
}

.portfolio-navbar.fixed-top + .page {
    /* padding-top: 5.5rem; */
    padding-top: 4.5rem;
}

.portfolio-block {
    padding-bottom: 60px;
    padding-top: 60px;
}

.portfolio-block.block-intro {
    text-align: center;
    height: 80vh;
}

.portfolio-block.block-intro .avatar {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 100px;
    margin-bottom: 30px;
}

.portfolio-block.block-intro .about-company {
    max-width: 800px;
    margin: 0 auto;
}

.overlay-intro { 
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../assets/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.portfolio-block.activities .heading{
    margin-bottom: 80px;
    margin-top: 80px;
    text-align: center;
}

.portfolio-block.activities {
    border-bottom: 1px solid #ddd;
}


.portfolio-block.website .text {
    text-align: center;
}

.activity-item {
    margin-bottom: 30px;
    text-align: center;
}

.portfolio-image {
    margin: auto;
    margin-top: 30px;
    max-width: 280px;
}

.portfolio-image .portolio-image-item {
    width: 320px;
    height: 210px;
}

.portfolio-image .portolio-image-item {
    width: 320px;
    height: 210px;
}

.contact-us .info {
    padding-bottom: 10px;
    padding-top: 0;
}

.info {
    max-width: 360px;
    margin: 0 auto;
    padding: 70px 0 30px;
}

.info-horizontal .description {
    overflow: hidden;
}

.info-horizontal .icon {
    float: left;
    margin-top: 24px;
    margin-right: 10px;
}

.info .info-title {
    color: #3c4858;
    margin: 1.75rem 0 .875rem;
}

.card-profile {
    margin-top: 30px;
    text-align: center;
    min-width: 200px;
}

.card-plain {
    background: transparent;
    box-shadow: none;
}

.card-title {
   line-height: 1.5em;
   margin-bottom: .75rem;
}

.card .card-category {
    margin-top: 10px;
}

.card-description, .description{
    color: #999;
}

.card-profile .card-avatar, .card-testimonial .card-avatar {
    max-width: 130px;
    max-height: 130px;
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}


input[type=text]:focus, input[type=email]:focus {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid deepskyblue;
}


input[type=text], input[type=email] {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #CFD8DC;
}

@media only screen and (max-width:768px) { 
    .portfolio-block.team .row {
        padding: 1rem;
    }

    .portfolio-block.team .card {
        box-shadow: none !important;
    }

    .portfolio-block.team .card-footer {
        background: #ffff;
        border: transparent;
    }

    .portfolio-block.team .team-card {
        margin-bottom: 5rem;
    }

    .portfolio-block.team .card-body{
        padding-bottom: 0;
    }

    .portfolio-block.team .card-footer{
        padding: 0;
    }

    .portfolio-block.team {
        padding-bottom: 20px;
    }
}


@media only screen and (min-width:768px) {
    .portfolio-block {
        padding-bottom: 100px;
        padding-top: 100px;
    }
    
    .portfolio-image {
        margin-top: 350px;
    }

    .portfolio-image .portolio-image-item {
        width: 320px;
        height: 210px;
    }

    .portfolio-block.team .padding {
        padding: 0rem;
    }

    .portfolio-block.team .team-card:nth-child(1) {
        margin-left: 4% !important;
    }
}


@media only screen and (min-width:992px) {
    .portfolio-image {
        margin-top: 0;
    }

    .portfolio-block.website .text {
        text-align: right;
    }
}